.quiz-cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.quiz-top {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #c60017;
}

.quiz-logo {
    color: white;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
}

.save-bttn {
    width: 100px;
    padding: 3px 0;
    color: #eb001b;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 0 0px #3800069e;
    transition: all 300ms ease;
}

.save-bttn:hover {
    box-shadow: 1px 1px 0 0px #3800069e;
}


.quiz-bottom {
    width: 100%;
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
}

.quiz-left {
    height: 100%;
    overflow-y: scroll;
    width: 300px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.add-quiz,
.quiz-ind {
    width: 200px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
}

.quiz-ind {
    justify-content: center;
    gap: 20px;
}

.plus {
    width: 60px;
    height: 60px;
}

.plus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-quiz-bttn,
.edit-bttn,
.delete-bttn {
    padding: 3px 30px;
    background-color: #eb001b;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 0 0px #3800069e;
    transition: all 300ms ease;
}



.quiz-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.question {
    width: 700px;
    height: 50px;
}

.question input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgb(206, 206, 206);
    padding: 0 80px;
    font-size: 27px;

    font-weight: 600;
    background: url("./books.png") no-repeat left;
    background-position: 25px;
    background-size: 30px;
    background-color: #ffffff;
}

.ques-img {
    height: 250px;
    width: 400px;
}

.ques-img input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgb(206, 206, 206);
    padding: 0 40px;
    font-size: 27px;
    margin: 0 auto;

    font-weight: 600;
    background-color: #f4f3f3;
}


.ques-opts {
    width: 850px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.opt {
    width: 400px;
    height: 50px;
    display: flex;
}

.check {
    height: 50px;
    width: 50px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(187, 187, 187);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.circle {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: white;
}

.tick {
    background-color: rgb(0, 255, 26);
}

.opt input {
    cursor: pointer;
    width: calc(100% - 50px);
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid rgb(187, 187, 187);
    border-right: none;
    padding-left: 80px;
    font-size: 27px;
}

.opt1 input {
    font-weight: 600;
    background: url("./letter-a.png") no-repeat left;
    background-position: 25px;
    background-size: 30px;
    background-color: #ffffff;
}

.opt2 input {
    font-weight: 600;
    background: url("./letter-b.png") no-repeat left;
    background-position: 25px;
    background-size: 30px;
    background-color: #ffffff;
}

.opt3 input {
    font-weight: 600;
    background: url("./letter-c.png") no-repeat left;
    background-position: 25px;
    background-size: 30px;
    background-color: #ffffff;
}

.opt4 input {
    font-weight: 600;
    background: url("./letter-d.png") no-repeat left;
    background-position: 25px;
    background-size: 30px;
    background-color: #ffffff;
}